body {
    text-align: center;
    background-image: url(images/background.png);
    background-size: 100%;
}

.card-container {
    display: flex;
    height: 450px;
    
    margin-top: 10%;
    flex-wrap: wrap;
    overflow: auto;
}

.card {
    position: relative;
    margin: 5px;
    height: 200px;
    width: 180px;
    border: solid;
    text-align: center;
    background-color: #8a6b28;
}

#show-form {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: skyblue;
    font-size: medium;
}

.read-button {
    width: 20px;
    height: 20px;
    background-image: url(images/eye.png);
    background-size: 100%;
    background-color: red;
    border: none;
    position: absolute; 
    top: 0; 
    justify-content: center;
    left: 0;
}

.form-element {
    display: none;
}


.new-form {
    display: block;
    border: solid;
    width: 200px;
    display: inline-block;
    background-color: seashell;
}


.removal {
    width: 15px;
    height: 20px;
    background-image: url(images/x-symbol_318-1407.jpg);
    background-size: cover;
    position: absolute; 
    top:0; 
    right:0;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a87636;
    font-size: medium;
    color: black;
}
