body {
    text-align: center;
    background-image: url(images/background.png);
    background-size: 100%;
}

.card-container {
    display: flex;
    height: 450px;
    
    margin-top: 7%;
    flex-wrap: wrap;
    overflow: auto;
}

.card {
    position: relative;
    margin: 5px;
    height: 200px;
    width: 180px;
    border: solid;
    text-align: center;
    background-color: #8a6b28;
    overflow: hidden;
}

.card:hover {
    scale: 1.03;
}

#show-form {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: skyblue;
    font-size: medium;
    color: black;
    border: #fff5ee solid 2px;
}

.read-button {
    width: 20px;
    height: 20px;
    background-image: url(images/eye.png);
    background-size: 100%;
    border: none;
    position: absolute; 
    top: 2px; 
    justify-content: center;
    left: 3px;
    border-radius: 15px;
}

.read-button:hover {
    scale: 1.1;
}

.form-element {
    display: none;
}

.new-form {
    display: inline-block;
    border: gray solid;
    width: 200px;
    background-color: seashell;
    text-align: left;
    padding-inline-start: 10px;
    padding-top: 3px;
}

#pages {
    margin-bottom: 5px;
}

.removal {
    width: 15px;
    height: 20px;
    background-image: url(images/x-symbol_318-1407.jpg);
    background-size: cover;
    position: absolute; 
    top:0; 
    right:0;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dfaaaa;
    font-size: medium;
    color: black;
    border: grey solid 3px;
}
